
/* Orta Panel'in Stili */
.orta_panel{
    background-color: orangered;
    border: black 4px solid;
    width: 1000px;
    height: 752px;
    margin-top: -770px;
    padding: 5px;
    margin-left: 215px;
}

/* Orta Panel İçindeki Uzun Kutuların Stili */
.uzun_kutucuklar{
    background-color: pink;
    border: pink 1px solid;
    height: 100px;
    margin: 70px;
    
}

/* Orta Panel İçindeki Küçük Kutucukların Stili */
.kucuk_kutucuklar{
    background-color: rgb(243, 243, 101);
    border: black 1px solid;
    width: 100px;
    margin: 50px;
    margin-top: 30px;
    text-align: center; 
    line-height: 2;
    height: 40px;
    display: inline-table;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


